body
{
	overflow-x: hidden;
	box-sizing: border-box;
	margin: 0;
	background: url(image/bg.jpg) no-repeat center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.topnav
{
	overflow: hidden;
	background-color: rgba(44, 62, 80, 1);
	padding: 14px 16px;
}

.topnav a
{
	padding: 14px 16px;
	float: left;
	display: block;
	text-align: center;	
	text-decoration: none;
	font-size: 1rem;
	color: white;
}

.topnav a:hover
{
	color: #89c4f4;
}

.topnav .icon
{
	display: none;
}

.dropdown
{
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn
{
	font-size: 1rem;
	border:none;	
	outline: none;
	color: white;
	padding: 5px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	cursor: pointer;
}

.dropbtn:hover
{
	color: #89c4f4;
}

.dropdown-content
{
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;	
	background-color: rgba(52, 73, 94, 0.6);
}

.dropdown-content a
{
	float: none;	
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	color: #89c4f4;
	
}

#dropdown-hr
{
	
	width: 90%;
}

.dropdown-content a:hover
{
	color: white;
}

/*.dropdown:hover .dropdown-content
{
	display: block;	
	animation-name: fadeIn;
	animation-duration: 0.5s;
}*/

.show {
	display: block;	
	animation-name: fadeIn;
	animation-duration: 0.5s;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    border-radius: 25px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 1rem;
    background-color: rgba(0,0,0,0.1); 
    color: white;   
}

.topnav input[type=text]:focus{
    animation: fadeIn;
    animation-duration: 0.5s;   
}

::placeholder
{
	color: silver;
	font-style: italic;
}

@keyframes fadeIn
{
	0%{opacity: 0;}
	50%{opacity: 0.5;}
	100%{opacity: 1;}
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn,.topnav input[type=text] {
    display: none;
  }  


  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    animation:fadeIn;animation-duration: 0.5s;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;margin-left: 5px;}
  .topnav.responsive .dropdown .dropbtn,.topnav.responsive,.topnav.responsive input[type=text]{
    display: block;    
    text-align: left;
    animation:fadeIn;animation-duration: 1s;
  }
  .topnav.responsive input[type=text]
  {
  	overflow: hidden;
  	width: 90%;  	
  	display: block;
  	float: left;
  	margin-left: 3%;
  	margin-right: 3%;
  }
  .topnav.responsive .dropdown .dropbtn
  {
  	margin-left: 10.66px;
  }
}